<!-- configuring project like a spring boot by self -->

<!--beans definition from https://docs.spring.io/spring-framework/docs/4.2.x/spring-framework-reference/html/xsd-configuration.html-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="org.suraj.Dev">
        <!-- this is basically variables-->
        <property name="age" value="60"/>

        <!-- this is basically a constructor arguments-->
        <constructor-arg index="0" value="45000"/>
        <constructor-arg index="1" value="1500"/>

        <!--creating setter reference to the laptop with id="lap" in below bean-->
        <property name="laptop" ref="lap"/>

        <!-- creating constructor injection  -->
        <constructor-arg index="2" name="desktop" ref="desc"/>
    </bean>

    <bean id="dev2" class="org.suraj.Dev">
        <!-- I create a bean for dev twice-->
        <property name="age" value="100"/>
    </bean>

    <bean id="lap" class="org.suraj.Laptop">

    </bean>

    <bean id="desc" class="org.suraj.Desktop">

    </bean>
</beans>